.loading-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* height: 200px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-message span {
  margin-left: 0.75rem;
}
